[submodule "Yeti/Vendors/RMStore"]
	path = Yeti/Vendors/RMStore
	url = git@github.com:dezinezync/RMStore.git
[submodule "Yeti/Vendors/Keychain"]
	path = Yeti/Vendors/Keychain
	url = git@github.com:dezinezync/Keychain.git
[submodule "Yeti/Vendors/DZNetworking"]
	path = Yeti/Vendors/DZNetworking
	url = git@github.com:DZNS/DZNetworking.git
[submodule "Yeti/Vendors/DZKit"]
	path = Yeti/Vendors/DZKit
	url = git@github.com:dezinezync/DZKit.git
[submodule "Yeti/Vendors/DZAppDelegate"]
	path = Yeti/Vendors/DZAppDelegate
	url = git@github.com:DZNS/DZAppDelegate.git
[submodule "Yeti/Vendors/DZThemeKit"]
	path = Yeti/Vendors/DZThemeKit
	url = git@github.com:DZNS/DZThemeKit.git
[submodule "Yeti/Vendors/YapDatabase"]
	path = Yeti/Vendors/YapDatabase
	url = https://github.com/yapstudios/YapDatabase.git
[submodule "Yeti/Vendors/DZTextKit"]
	path = Yeti/Vendors/DZTextKit
	url = git@github.com:dezinezync/DZTextKit.git
[submodule "Yeti/Vendors/DateTools"]
	path = Yeti/Vendors/DateTools
	url = https://github.com/MatthewYork/DateTools.git
[submodule "Yeti/Vendors/JLRoutes"]
	path = Yeti/Vendors/JLRoutes
	url = https://github.com/joeldev/JLRoutes.git
[submodule "DBManager"]
	path = Yeti/DBManager
	url = git@github.com:dezinezync/YTDBManager.git
[submodule "Yeti/Vendors/SDWebImage"]
	path = Yeti/Vendors/SDWebImage
	url = git@github.com:SDWebImage/SDWebImage.git
[submodule "Yeti/Vendors/IDMPhotoBrowser"]
	path = Yeti/Vendors/IDMPhotoBrowser
	url = git@github.com:dezinezync/IDMPhotoBrowser.git
