[submodule "Yeti/Vendors/RMStore"]
	path = Yeti/Vendors/RMStore
	url = git@github.com:dezinezync/RMStore.git
[submodule "Yeti/Vendors/Keychain"]
	path = Yeti/Vendors/Keychain
	url = git@github.com:dezinezync/Keychain.git
[submodule "Yeti/Vendors/DZNetworking"]
	path = Yeti/Vendors/DZNetworking
	url = git@github.com:DZNS/DZNetworking.git
[submodule "Yeti/Vendors/DZKit"]
	path = Yeti/Vendors/DZKit
	url = git@github.com:dezinezync/DZKit.git
[submodule "Yeti/Vendors/DZAppDelegate"]
	path = Yeti/Vendors/DZAppDelegate
	url = git@github.com:DZNS/DZAppDelegate.git
[submodule "Yeti/Vendors/DZThemeKit"]
	path = Yeti/Vendors/DZThemeKit
	url = git@github.com:DZNS/DZThemeKit.git
[submodule "Yeti/Vendors/TOSplitViewController"]
	path = Yeti/Vendors/TOSplitViewController
	url = git@github.com:dezinezync/TOSplitViewController.git
[submodule "Yeti/Vendors/YapDatabase"]
	path = Yeti/Vendors/YapDatabase
	url = git@github.com:dezinezync/YapDatabase.git
[submodule "Yeti/Vendors/DZTextKit"]
	path = Yeti/Vendors/DZTextKit
[submodule "Yeti/Vendors/WebPImageSerialization"]
	path = Yeti/Vendors/WebPImageSerialization
	url = https://github.com/mattt/WebPImageSerialization.git
