<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Account</string>
	<key>Icon</key>
	<string>pref-account.png</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>Account ID</string>
			<key>Title</key>
			<string>Account ID</string>
			<key>Key</key>
			<string>UUIDString</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Subscription</string>
			<key>Key</key>
			<string>subscriptionString</string>
			<key>DefaultValue</key>
			<string>Subscription</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset Account</string>
			<key>Key</key>
			<string>reset_account_preference</string>
			<key>DefaultValue</key>
			<false/>
			<key>Description</key>
			<string>You can reset your account if you need to login again or setup using a different Apple ID.</string>
		</dict>
	</array>
</dict>
</plist>
