<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Reader</string>
	<key>Icon</key>
	<string>pref-reader.png</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>The font to use for drawing the paragraph text in an article.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Body Font</string>
			<key>Key</key>
			<string>articleFont</string>
			<key>DefaultValue</key>
			<string>articlelayout.system</string>
			<key>Titles</key>
			<array>
				<string>System</string>
				<string>Georgia</string>
				<string>Helvetica</string>
				<string>Merriweather</string>
				<string>IBM Plex Serif</string>
				<string>IBM Plex Sans</string>
				<string>Spectral</string>
				<string>Open Dyslexic</string>
			</array>
			<key>Values</key>
			<array>
				<string>articlelayout.system</string>
				<string>articlelayout.georgia</string>
				<string>articlelayout.helveticaNeue</string>
				<string>articlelayout.merriweather</string>
				<string>articlelayout.IBMPlexSerif</string>
				<string>articlelayout.IBMPlexSans</string>
				<string>articlelayout.Spectral</string>
				<string>articlelayout.OpenDyslexic</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>The font to use for drawing titles in an article.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Title Font</string>
			<key>Key</key>
			<string>paraTitleFont</string>
			<key>DefaultValue</key>
			<string>articlelayout.system</string>
			<key>Titles</key>
			<array>
				<string>System</string>
				<string>Georgia</string>
				<string>Helvetica</string>
				<string>Merriweather</string>
				<string>IBM Plex Serif</string>
				<string>IBM Plex Sans</string>
				<string>Spectral</string>
				<string>Open Dyslexic</string>
			</array>
			<key>Values</key>
			<array>
				<string>articlelayout.system</string>
				<string>articlelayout.georgia</string>
				<string>articlelayout.helveticaNeue</string>
				<string>articlelayout.merriweather</string>
				<string>articlelayout.IBMPlexSerif</string>
				<string>articlelayout.IBMPlexSans</string>
				<string>articlelayout.Spectral</string>
				<string>articlelayout.OpenDyslexic</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>The line-spacing used between two lines of a paragraph. </string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Line Spacing</string>
			<key>Key</key>
			<string>lineSpacing</string>
			<key>DefaultValue</key>
			<string>1.5x</string>
			<key>Titles</key>
			<array>
				<string>1.2x</string>
				<string>1.3x</string>
				<string>1.4x</string>
				<string>1.5x</string>
				<string>1.6x</string>
				<string>1.7x</string>
				<string>1.8x</string>
				<string>1.9x</string>
				<string>2.0x</string>
			</array>
			<key>Values</key>
			<array>
				<real>1.2</real>
				<real>1.3</real>
				<real>1.4</real>
				<real>1.5</real>
				<real>1.6</real>
				<real>1.7</real>
				<real>1.8</real>
				<real>1.9</real>
				<real>2</real>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>The base font-size for used to draw in the article reader.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font Size</string>
			<key>Key</key>
			<string>fontSize</string>
			<key>DefaultValue</key>
			<string>System</string>
			<key>Titles</key>
			<array>
				<string>System</string>
				<string>13pt</string>
				<string>14pt</string>
				<string>15pt</string>
				<string>16pt</string>
				<string>17pt</string>
				<string>18pt</string>
				<string>19pt</string>
				<string>20pt</string>
			</array>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
